### 자료구조 : set = 집합
- set은 데이터의 중복되어진 값을 필터링할 수 있는 기능이 있음. 유일하다!!
- 서로 다른 그룹 간 연산 작업을 보다 쉽게 하기 위한 목적으로 탄생된 자료구조
- set() // list() // tuple() // dict()
- list는 (* 각각의 세부값에 인덱스 값을 부여, 이터러블한 객체, 반복문)
- 튜플 (* 각각의 세부값에 인덱스 값을 부여, 이터러블한 객체, 반복문)
- 딕셔너리 (* 각각의 세부값에 인덱스 값 부여 x, 이터러블한 객체 x, 반복문)
- 세트 (*인덱스 값을 부여받지 않음, 이터러블한 객체, 반복문)
- 크롤링 시, 찾아온 값이 거의 대부분 리스트의 형태로 들어온다. => 굳이 반복적으로 불필요하게 값을 찾아오는 경우 부지기수. => 중복된 값을 하나로 정리하는 기능을 가장 많이 사용함!!핵심

In [1]:
data_set01 = set()
type(data_set01)

set

In [4]:
data_set02 = {"apple", "dell", "samsung", "lg"} # 중괄호라고 해서 내부 형태까지 봐야함. dict인지 set인지
data_set02

{'apple', 'dell', 'lg', 'samsung'}

In [7]:
data_set03 = set("apple")
data_set03

{'a', 'e', 'l', 'p'}

In [9]:
# 안되는 것. 이런 문법은 존재하지 않음. 두개의 인자값을 줄 수 없음.

data_set04 = set("sm", "jyp")

TypeError: set expected at most 1 argument, got 2

In [10]:
{"sm", "jyp"}

{'jyp', 'sm'}

In [11]:
for data in data_set02 : 
    print(data)

apple
lg
samsung
dell

In [13]:
data_set02[0] # 변수 발생. 이터러블하지만 인덱스값을 부여받지 못함. 이유가 없음.

TypeError: 'set' object is not subscriptable

In [17]:
print("motorola" in data_set02)
print("apple" in data_set02)

False
True

In [20]:
data_set04 = {"피카츄", "라이츄", "꼬부기"}

In [23]:
data_set05 = {"잠만보", "파이리", "피카츄"}

In [28]:
data_set04 & data_set05 # 교집합.

{'피카츄'}

In [30]:
data_set04 | data_set05 # 합집합.

{'꼬부기', '라이츄', '잠만보', '파이리', '피카츄'}

In [33]:
data_set04 - data_set05 # 차집합.

{'꼬부기', '라이츄'}

In [35]:
data_set05 - data_set04

{'잠만보', '파이리'}

In [37]:
data_set04 ^ data_set05 # 캐럿 = 교집합을 제외한 나머지 값.

{'꼬부기', '라이츄', '잠만보', '파이리'}