- 사용자로부터 어떤 값을 받고, 해당 값을 한화로 바꿔서 출력되도록 해주세요.
- ex) 100 => 환율 1112원 // 1112000원 으로 출력되도록 해주세요.

In [4]:
# 수학 => math x
# 수학능력평가시험 => 수학 => 논리성!!
# 문제를 풀던 못풀던 간에 일단 내가 해결하고 싶은 것을 말로 표현

# 인풋으로 문자열 입력
# 만약 내가 100달러를 가지고 있음. 그럼 환율 적용해서 입출력
#



# 1. 사용자에게 값을 받는다.
# input(), int()

# 2. 사전에 환율을 정의해서 특정 변수에 할당해 놓는다.
# 변수 정의만 하면 됨

# 3. 사용자에게 받은 값을 사전에 정의해놓은 환율과 계산한다.
# 연산자만 알면 됨

# 4. 사용자의 값과 환율을 계산한 그 결과값을 출력함.
# 출력 -> 프린트 함수만 알면 됨.

Price = int(input("환전하고 싶은 달러를 입력해주세요. ex) 100달러"))
won = int(input("환율은?"))

if Price <= 100["달러"] :
    print({Price} * {won})

<>:26: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?

환전하고 싶은 달러를 입력해주세요. ex) 100달러 1000
환율은?

ValueError: invalid literal for int() with base 10: ''

In [9]:
Price = input("환전하고 싶은 달러를 입력해주세요. ex) 100달러")
exchange = 1112

dollar = int(Price.replace("달러", ""))
result = dollar * exchange

print(f"{result:,}원") #천단위에서 쉼표로 끝어준다.

환전하고 싶은 달러를 입력해주세요. ex) 100달러 100달러

111,200원

- 달러의 환율을 1112원으로 설정, 위안화의 환율을 171원 설정, 엔화 환율 1010원 설정을 하시되, 해당 화폐당 환율의 값을 딕셔너리라는 자료구조로 정의하시고, 사용자가 달러 혹은 엔화 혹은 위안화 값을 입력했을 때, 해당 값을 한화로 바꿔서 출력될 수 있도록 해주세요.
- ex) 100달러 => 111,200원 // 100위안 => 17,100원

In [13]:
# 1. 사용자에게 값을 받는다. 이건 다음인가
# 2. 달러, 위안, 엔화 환율 설정 -> 변수에 할당
# 3. 환율 계산
# 4. dict = {"" : ""}
# 

dict01 = {"달러" : 1112, "위안" : 171, "엔화" : 1010}
exchange01 = {"달러" = 1112}

{'달러': 1112, '위안': 171, '엔화': 1010}

In [16]:
exchange_list = {"달러":1112, "위안":171, "엔화":1010}
user_money = input("환전하고 싶은 금액입력")
# 무엇에 따라서 바꿀 것인지?
# 100달러

if user_money[-2:] == "달러" :
    print(f"{exchange_list['달러'] * int(user_money[:-2]):,} 원") #문법적으로 큰 따옴표 안에 작은 따옴표를 적는게 맞음.
elif user_money[-2:] == "위안" :
    print(f"{exchange_list['위안'] * int(user_money[:-2]):,} 원")
elif user_money[-2:] == "엔화" :
    print(f"{exchange_list['엔화'] * int(user_money[:-2]):,} 원")
else :
    print("달러, 위안, 엔화 중 하나를 입력하세요")

환전하고 싶은 금액입력 100엔화

101,000 원

In [18]:
# 2~9단까지 => 1) 숫자가 2부터 9까지 반복순회!! 2) 피연산자로 1부터 9까지 반복순회 2 * 1 = 2

In [25]:
for num01 in range(2, 10) :
    print("------------")
    print(f"- 구구단 {num01}단 -")
    print("------------")
    for num02 in range(1, 10) : # 중첩for문
        print(f"{num01} x {num02} = {num01 * num02}")
    print("\n") # 개행

------------
- 구구단 2단 -
------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18


------------
- 구구단 3단 -
------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27


------------
- 구구단 4단 -
------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36


------------
- 구구단 5단 -
------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45


------------
- 구구단 6단 -
------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54


------------
- 구구단 7단 -
------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63


------------
- 구구단 8단 -
------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72


------------
- 구구단 9단 -
------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

- 위에서 작성한 코드를 활용해서 다음과 같은 결과를 출력해보세요. 구구단2~9단까지 출력하되, 계산된 결과 값이 짝수인 경우만 출력해주세요. 예) 3x3=9이기 때문에 출력되면 안돼, 2x4=8이기 때문에 출력되어야함.

In [35]:
for num01 in range(2, 10) :
    print("------------")
    print(f"- 구구단 {num01}단 -")
    print("------------")
    for num02 in range(1, 10) : # 중첩for문
        if (num01 * num02) % 2 == 0 :
            print(f"{num01} x {num02} = {num01 * num02}")
    print("\n")

------------
- 구구단 2단 -
------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18


------------
- 구구단 3단 -
------------
3 x 2 = 6
3 x 4 = 12
3 x 6 = 18
3 x 8 = 24


------------
- 구구단 4단 -
------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36


------------
- 구구단 5단 -
------------
5 x 2 = 10
5 x 4 = 20
5 x 6 = 30
5 x 8 = 40


------------
- 구구단 6단 -
------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54


------------
- 구구단 7단 -
------------
7 x 2 = 14
7 x 4 = 28
7 x 6 = 42
7 x 8 = 56


------------
- 구구단 8단 -
------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72


------------
- 구구단 9단 -
------------
9 x 2 = 18
9 x 4 = 36
9 x 6 = 54
9 x 8 = 72

dongs = ["6209동", "6208동", "6207동"]
hos = ["101호", "102호", "103호", "104호"]

```
6209동 101호
6209동 102호
6209동 103호
6209동 104호

6208동 101호
6208동 102호
6208동 103호
6208동 104호

6207동 101호
6207동 102호
6207동 103호
6207동 104호
```

In [40]:
dongs = ["6209동", "6208동", "6207동"] 
hos = ["101호", "102호", "103호", "104호"]

for item_1 in dongs :
    for item_2 in hos :
        print(item_1, item_2)
    print() # 뉴라인 안줘도 됨. 한 번 더 주는 꼴

6209동 101호
6209동 102호
6209동 103호
6209동 104호

6208동 101호
6208동 102호
6208동 103호
6208동 104호

6207동 101호
6207동 102호
6207동 103호
6207동 104호

In [43]:
tupledata = ("coding01", "coding02", "coding03")
# temp_list = list(tupledata)
# temp_list.append("coding04")
# result = tuple(temp_list)

# result

tuple(list(tupledata) + ["coding04"])

('coding01', 'coding02', 'coding03', 'coding04')

- 딕셔너리 형태의 자료구조를 하나 만들어서 아래와 같이 값을 출력해주세요.

    ```
    environment : 환경 x
    company : 회사 o
    government : 정부 x
    face : 얼굴 x

    ```

In [78]:
data = {
    "environment":["환경", "x"],
    "company":["회사","o"], 
    "government":["정부", "x"], 
    "face":["얼굴", "x"],
}

In [79]:
for item in data.keys() :
    print(f"{item} : {data[item]}")

environment : ['환경', 'x']
company : ['회사', 'o']
government : ['정부', 'x']
face : ['얼굴', 'x']

- 사용자로부터 사전에 등록되어있는 단어들 중 1개를 입력 받으세요. 그러면 입력 받은 단어의 경우, 외움표시 o 표시로 수정하고, 아직 외우지 못한 단어들만 출력하는 프로그램 코드를 작성해주세요.

In [81]:
english = input("다 외운 단어 입력하기")

if english in data.keys() :
    data[english][1] = "o"
else :
    print("사전에 존재하지 않는 단어입니다.") # 유효성 검사

for item in data.keys() :
    data_list = data[item]
    if data_list[1] == "x" :
        print(item)

다 외운 단어 입력하기 compay

사전에 존재하지 않는 단어입니다.
environment
government
face

- dict_all = {"environment":"환경", "government":"정부"}
- dict2 = {"company":"회사", "face":"얼굴"}
- dict3 = {"apple":"사과"}
- dict_all안에 dict2와 dict3 값을 모두 넣어주세요! 그리고 dict_all 값을 출력

In [92]:
dict_all = {"environment":"환경", "government":"정부"}
dict2 = {"company":"회사", "face":"얼굴"}
dict3 = {"apple":"사과"}

for item in dict2.keys() :
    dict_all[item] = dict2[item]
for item in dict3.keys() :
    dict_all[item] = dict3[item]

dict_all

{'environment': '환경',
 'government': '정부',
 'company': '회사',
 'face': '얼굴',
 'apple': '사과'}

In [104]:
number_list = {1, 2, 3}
number_list.add(4) # setㅇ이라는 add라는 매개변수는 값을 추가할 수는 있지만 하나만 바등ㄹ 수 있ㅇㅡㅁ
number_list.update([5,6]) # 복수의 값을 추가할 때는 update 함수 사용
number_list.remove(2)

number_list

{1, 3, 4, 5, 6}

- 임의의 숫자 2개를 사용자에게 받으면 해당 2개의 숫자를 곱한 값을 반환하는 함수를 만들고, 해당 함수의 결과 값을 화면에 출력해주세요.

In [107]:
num1 = int(input("첫 숫자 뭐임?"))
num2 = int(input("또 하나는?"))

def f1(num1, num2) :
    return num1 * num2

print(f1(num1, num2))

첫 숫자 뭐임? 2
또 하나는? 3

6

In [111]:
num_all = [int(input("숫자를 입력하세요")) for _ in range(2)]

def f1(num1, num2) :
    return num1 * num2

print(f1(num_all[0], num_all[1]))

숫자를 입력하세요 3
숫자를 입력하세요 4

12

- 인자값 3개를 받을 수 있는 함수를 호출합니다
- func1(인자값1, 인자값2, 인자값3)
- 해당 함수의 3번째 인자값 = 인자값3, + => 첫번째 인자값과 두번째 인자값을 더한 결과값을 반환하도록 해주시고, 만약 세번째 인자값이 * 라면, 첫번째 인자값과 두번째 인자값을 곱한 결과값을 반환해주세요. 그런데 만약 3번째 인자값이 +도 아니고, *도 아니라면 무조건 0이라는 값을 반환하도록하는 함수를 만들어주세요.

In [115]:
def calc(data1, data2, way) :
    if way == "+" :
        return data1 + data2
    elif way == "*" :
        return data1 * data2
    else :
        return 0

data01 = calc(1,2,"+")
data02 = calc(3,2,"*")
data03 = calc(2,4,"-")

print(data01, data02, data03)

3 6 0