In [10]:
# 패턴 코드

In [1]:
import pymysql

db = pymysql.connect(
    host = "localhost",
    port = 3306,
    user = "root",
    password = "whgPfls3770",
    db = "ecommerce_v1",
    charset = "utf8"
)

In [2]:
db

In [3]:
ecommercev1 = db.cursor()

In [ ]:
# 직접 테이블을 넣을 수 있는 상황이 됨.

In [4]:
ecommercev1

In [5]:
sql = """
    CREATE TABLE product(
        product_CODE VARCHAR(20) PRIMARY KEY NOT NULL,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOOUNT_PRICE INT,
        DISCOOUNT_PERCENT INT,
        DELIVERY VARCHAR(2)
    );
"""

In [6]:
sql

'\n    CREATE TABLE product(\n        product_CODE VARCHAR(20) PRIMARY KEY NOT NULL,\n        TITLE VARCHAR(200) NOT NULL,\n        ORI_PRICE INT,\n        DISCOOUNT_PRICE INT,\n        DISCOOUNT_PERCENT INT,\n        DELIVERY VARCHAR(2)\n    );\n'

In [7]:
ecommercev1.execute(sql)

0

In [8]:
db.commit()

In [9]:
db.close()

In [11]:
# 여기까지가 한 단락.

In [31]:
# 원래 위에서 컨트롤 엔터해도 되지만 쉬운 이해를 위해 다시 접속!
import pymysql

db = pymysql.connect(
    host = "localhost",
    port = 3306,
    user = "root",
    password = "whgPfls3770",
    db = "ecommerce_v1",
    charset = "utf8"
)

In [32]:
cursor = db.cursor()

In [21]:
for index in range(10) :
    product_code = 215679150 + index + 1
    SQL = f""" 
        INSERT INTO product VALUES(
            '{product_code}',
            '스위트바니 여름 신상 5,900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            230000,
            6900,
            70,
            'F'
        )
    """
    print(SQL)
    cursor.execute(SQL)

        INSERT INTO product VALUES(
            '215679151',
            '스위트바니 여름 신상 5,900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            230000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215679152',
            '스위트바니 여름 신상 5,900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            230000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215679153',
            '스위트바니 여름 신상 5,900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            230000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215679154',
            '스위트바니 여름 신상 5,900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            230000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215679155',
            '스위트바니 여름 신상 5,900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            230000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215679156',
            '스위트바니 여름 신상 5,900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            230000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215679157',
            '스위트바니 여름 신상 5,900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            230000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215679158',
            '스위트바니 여름 신상 5,900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            230000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215679159',
            '스위트바니 여름 신상 5,900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            230000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215679160',
            '스위트바니 여름 신상 5,900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            230000,
            6900,
            70,
            'F'
        )

In [22]:
db.commit()

In [23]:
db.close()

In [25]:
# fetch alll() : 해당 테이블 내 모든 데이터를 가져옵니다
# fetchone() : 매칭되는 해당 값 중 첫번째 값을 가져옵니다.
# > 이미 앞에서 먼저 찾아온 값이 존재한다며느 해달 값 이후부터 값을 찾아옵니다.
# fetchmany() : 인자값으로 작성된 숫자만큼의 데이터를 가져옵니다.

In [33]:
SQL = "SELECT * FROM product"
cursor.execute(SQL)
row = cursor.fetchone()
print(row)

('215673150', '스위트바니 여름 신상 5,900원 ~ 롱원피스/티셔츠/긴팔/반팔', 230000, 6900, 70, 'F')

In [34]:
row = cursor.fetchone()
print(row)

('215679151', '스위트바니 여름 신상 5,900원 ~ 롱원피스/티셔츠/긴팔/반팔', 230000, 6900, 70, 'F')

In [35]:
rows = cursor.fetchmany(2)
print(rows)

(('215679152', '스위트바니 여름 신상 5,900원 ~ 롱원피스/티셔츠/긴팔/반팔', 230000, 6900, 70, 'F'), ('215679153', '스위트바니 여름 신상 5,900원 ~ 롱원피스/티셔츠/긴팔/반팔', 230000, 6900, 70, 'F'))

In [36]:
rowsAll = cursor.fetchall()
for row in rowsAll :
    print(row)

('215679154', '스위트바니 여름 신상 5,900원 ~ 롱원피스/티셔츠/긴팔/반팔', 230000, 6900, 70, 'F')
('215679155', '스위트바니 여름 신상 5,900원 ~ 롱원피스/티셔츠/긴팔/반팔', 230000, 6900, 70, 'F')
('215679156', '스위트바니 여름 신상 5,900원 ~ 롱원피스/티셔츠/긴팔/반팔', 230000, 6900, 70, 'F')
('215679157', '스위트바니 여름 신상 5,900원 ~ 롱원피스/티셔츠/긴팔/반팔', 230000, 6900, 70, 'F')
('215679158', '스위트바니 여름 신상 5,900원 ~ 롱원피스/티셔츠/긴팔/반팔', 230000, 6900, 70, 'F')
('215679159', '스위트바니 여름 신상 5,900원 ~ 롱원피스/티셔츠/긴팔/반팔', 230000, 6900, 70, 'F')
('215679160', '스위트바니 여름 신상 5,900원 ~ 롱원피스/티셔츠/긴팔/반팔', 230000, 6900, 70, 'F')

In [43]:
SQL = """
    UPDATE product SET
        TITLE = "썸머 가디건 코디전",
        ORI_PRICE = 33000,
        DISCOOUNT_PRICE = 9900,
        DISCOOUNT_PERCENT = 70
    WHERE PRODUCT_CODE = "215679160"
"""

In [44]:
cursor.execute(SQL)

1

In [45]:
db.commit()

In [46]:
# 프로그래밍 언어는 CRUD -> 4가지 기능을 기본적으로 가지고 있다.

In [47]:
SQL = """DELETE FROM product WHERE PRODUCT_CODE = '215679160';"""
print(SQL)

DELETE FROM product WHERE PRODUCT_CODE = '215679160';

In [48]:
cursor.execute(SQL)

1

In [49]:
db.commit()