#### 문자열 관련 함수 리스트 
- 문자열과 문자는 다른 것(문자열 [], 문자 "")
- count : 문자열에 있는 특정 문자 갯수 세기
- index : 문자열에 있는 특정 문자의 인덱스 위치를 알려주기
- find : 문자열에 있는 특정 문자의 인덱스를 찾아오긴 하나, 만약 존재하지 않는다면 에러를 발생하지 않고 -1을 발생!!
- join : 문자열 사이에 다른 문자를 끼워 넣기
- strip : 문자열 앞 뒤에 공백 지우기
- upper : 소문자를 대문자로 변경하기
- lower : 대문자를 소문자로 변경하기
- split : 문자열 내 특정 문자를 기준으로 나누기
- replace : 문자열 중 일부를 다른 문자로 바꾸거나 혹은 삭제하기

In [8]:
data = "Dave David"
data.count("Dave")
data.count("D")

2

In [11]:
string = "Dave ID is dave"
string.index("D")
string.index("d")
# string.index("x")

11

In [15]:
string01 = "Dave ID is dave"
string01.find("x")
string01.find("a")

if string01.find("x") == -1 :
    print("x는 string01 문자열 객체 안에 없습니다.")

x는 string01 문자열 객체 안에 없습니다.

In [17]:
string02 = "12345"
comma = ","

comma.join(string02)

'1,2,3,4,5'

In [22]:
data01 = " Dave "
data01.strip()

data02 = "        Dave02 "
data02.strip()

data03 = "        Dave03 "
data03.lstrip()

data04 = "        Dave04 "
data04.rstrip()

'        Dave04'

In [28]:
string03 = "      999999999999(Dave)88888888888      "
string03.strip(" 98()D")

'ave'

In [30]:
string04 = "Dave ID is dave"
string04.upper()

'DAVE ID IS DAVE'

In [31]:
string05 = "Dave ID is dave"
string05.lower()

'dave id is dave'

In [35]:
string06 = "Dave goes to korea"
string06.split()[3]
string06.split(" ")

string07 = "Dave/goes/to/korea"
string07.split("/")

['Dave', 'goes', 'to', 'korea']

#### 문자열 "10, 11, 12, 13, 14" 해당 값을 리스트 자료 형태 [10,11,12,13,14]로 변환시켜보세요.

In [53]:
text = "10, 11, 12, 13, 14"
text.split(" , ")

['10, 11, 12, 13, 14']

In [57]:
string = "10,11,12,13,14"
split_string = string.split(",")

for index, split_item in enumerate(split_string) :
    split_string[index] = int(split_item)
print(split_string)

[10, 11, 12, 13, 14]

In [66]:
string08 = "Dave goes to korea"
string08.replace("Dave", "David")

string09 = "(David)"
string09.replace("(", "")

string10 = "(David)"
string10.replace("()", "")

string11 = "(David)"
# string12 = string11.replace("(", "")
# string12.replace(")", "")

# Method Chaining
string13 = string11.replace("(", "").replace(")", "")
string13

'David'