In [33]:
pip install pymysql

Requirement already satisfied: pymysql in /opt/anaconda3/lib/python3.13/site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [46]:
import pymysql

db = pymysql.connect(
    host="localhost", # 127.0.0.1 이라고 써도 되지만 실수할 확률이 높기 때문에 잘 쓰지 않음.
    port=3306,
    user="root",
    passwd="whgPfls3770",
    db="ecommerce",
    charset="utf8"
)

In [35]:
ecommerce = db.cursor()

In [36]:
sql = """ 
    CREATE TABLE product (
        PRODUCT_CODE VARCHAR(20) NOT NULL PRIMARY KEY,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(10)
    );
"""

In [37]:
sql

' \n    CREATE TABLE product (\n        PRODUCT_CODE VARCHAR(20) NOT NULL PRIMARY KEY,\n        TITLE VARCHAR(200) NOT NULL,\n        ORI_PRICE INT,\n        DISCOUNT_PRICE INT,\n        DISCOUNT_PERCENT INT,\n        DELIVERY VARCHAR(10)\n    );\n'

In [38]:
ecommerce.execute(sql)

OperationalError: (1050, "Table 'product' already exists")

In [39]:
db.commit()

In [40]:
db.close()

In [47]:
cursor = db.cursor()

In [48]:
for index in range(10) :
    product_code = 215673140 + index + 1
    sql = f"""
        INSERT INTO product VALUES(
            '{product_code}',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠  / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );
    """
    print(sql)
    cursor.execute(sql)

        INSERT INTO product VALUES(
            '215673141',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠  / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673142',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠  / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673143',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠  / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673144',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠  / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673145',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠  / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673146',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠  / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673147',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠  / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673148',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠  / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673149',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠  / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673150',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠  / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );

In [49]:
db.commit()

In [50]:
db.close()