- 사용자로부터 점수를 입력받은 후 등급을 출력하세요.
  - (A : 100 ~ 81, B : 80 ~ 61, C : 60 ~ 0)

In [3]:
data = int(input("사용자의 점수"))

if data >= 81 and data <= 100 :
    print("A")
elif data >= 61 and data <= 80 :
    print("B")
elif data >= 0 and data <= 60 :
    print("C")

사용자의 점수 78

B

- 사용자로부터 주민등록번호를 입력받아서 출생년도만 확인 후 출력해주세요.
    - 예) 800000 - 1234567 => 80년생 입니다.

In [6]:
data = input("주민등록번호입력") # int 쓰면 안됨!, 문자열로 받아야 리스트 자료구조와 호환될 수 있음
print(data[0:2])

주민등록번호입력 800000 - 1234567

80

In [13]:
data = input("주민등록번호입력") 
age = data[0:2]

print(age)

주민등록번호입력 800000 - 1234567

80

In [8]:
data = input("주민등록번호입력") 
age = data[0:2]

print(f"{age}년생")

주민등록번호입력 800000 - 1234567

80년생

In [18]:
data = input("주민등록번호입력") 
age = data.split("-") # 구분자 = 무언가를 구분시켜주겠다. 특정 구분자를 기준으로 값을 쪼갠다. list의 자료형태 - index값
print(age[0][0:2])

주민등록번호입력 800000 - 1234567

80

In [21]:
data = input("주민등록번호입력") 
age = data.split("-")
age01 = age[0]
print(age01[0:2])

주민등록번호입력 800000 - 1234567

80

In [22]:
data = input("주민등록번호입력") 
# age = data.split("-")
print(data.split("-")[0][0:2])

주민등록번호입력 800000 - 1234567

80

In [23]:
data = input("주민등록번호입력") 

print(f"{data.split("-")[0][0:2]}년생")

주민등록번호입력 800000 - 1234567

80년생

- 사용자로부터 주민등록번호를 입력받아서 성별을 "남성" 또는 "여성"으로 출력해주세요.
  - 주민등록번호 뒷자리 첫번째 숫자가 "1" => 남성 // "2" => 여성

In [36]:
data = input("주민등록번호입력")

gender = data.split("-")[1][0]

if gender == "1" :
    print("남성")
else :
    print("여성")

주민등록번호입력 800000-2234567

여성

In [37]:
mystr = "a man goes into the room..." # 온점을 없애보는 법.

result = mystr.strip(".") # 온점이 더이상 나오지 않을 때까지 제거
result

'a man goes into the room'

In [39]:
code = "          000770"
code.strip()

# strip() : 문자열 앞, 뒤 상관없이 공백이라고 판단되는 문자열(*공백, 개행, 탭 등등)을 모두 제거하는 역할을 하는 매서드 함수 ex) 들여쓰기, 줄바꿈
# n : 뉴라인의 약자
# t : tap의 약자

'000770'

In [43]:
code = "000770\n"
# code.strip()
code

'000770\n'

In [47]:
code = "000770\n"
code.strip()

# 매서드 함수 사용 시 개행 처리라는 \를 없애줌

'000770'

In [52]:
python_desc = "Installing Python is generally easy, and nowadays many Linux and UNIX distributions include a recent Python. Even some Windows computers (notably those from HP) now come with Python already installed."
print(python_desc.count("Python"))
print(python_desc.count("python")) # 대문자, 소문자 출력

3
0

- 사용자로부터 note 라는 문자열을 받았다고 가정하세요.그리고 해당 문자열 안에 n이 들어가있는지 확인 후 n이 들어가있으면 숫자 0을 출력하고 만약 그렇지 않다면 1을 출력하세요.

In [57]:
letters = input()

var = letters.find("a") 

var
# if var == 0 : 
#    print(0)
# else : 
#    print(-1)
    
# 일반적으로 프로그래밍 언어는 true와 false
# truethy, falsy => 참인듯한 값, 거짓인듯한 값
# 0, nul, undefind => falsy
# 파이썬 => 0 => truethy, -1 => falsy

 aaarrr

0

- 사용자로부터 주민등록번호를 입력받은 후 사용자의 출생지가 어디인지 확인 후 출력해주세요.
  - 주민등록번호 중 뒤에 8자리 중에서 첫번째 숫자가 성별을 의미, 두번째 숫자부터 세번째 숫자까지 출생지를 의미 "00 ~ 08 : 서울","09 ~ 12 : 부산"

In [75]:
data = input("주민등록번호입력")
local = data.split("-")[1][1:3]

if local <= "00" and local >= "08" :
    print("서울 출생")
elif local <= "09" and local >= "12" :
    print("부산 출생") # 이건 아님

주민등록번호입력 800000-2124567

In [77]:
data = "800000-2074567"

location = int(data.split("-")[1][1:3])

if location >= 0 and location <= 8 :
    print("서울 출생")
elif location >= 9 and location <= 12 :
    print("부산 출생")

서울 출생